.upper-header {
    height: 40px;
    background-color: #000;
    color: #fff;
}

.logo-sony {
    width: 5rem;
}

.nav-link>.fa-chevron-down {
    font-size: small;
}

.btn-dark {
    background-color: #363636;
}

.jumbotron {
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px;
}

.jumbotron>div>div>img {
    width: 300px;
}

.jumbotron>.row {
    padding-top: 160px;
}

.jumbotron>.row>.col-12>h2 {
    font-size: 40px;
}

.buy-now-button {
    background-color: #cd3d0f;
}

.play-station-5-presentation {
    margin-top: 110px;
}

.play-station-5-presentation>div>h4 {
    color: #117bd1;
}

.fs-40 {
    font-size: 40px;
}

.play-devices {
    margin-top: 80px;
}

.btn-primary {
    background-color: #2d64e6;
}

.play-devices-images {
    margin-bottom: 15px;
}

.it-takes-two {
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.it-takes-two>.container>.row>.col-6>img {
    margin-top: 50px;
    margin-bottom: 28px;
}

.new-releases {
    background-color: #1f1f1f;
}

.new-releases>.container>.row>.col-6>p>a {
    text-decoration: none;
}

.playstation-plus {
    background-color: #bebcbb;
}

.playstation-plus>.container>.row>.col-12>button {
    background-color: #d9dadc;
    color: #2d64e6;
}

.playstation-now {
    background-color: #161c3b;
}

.playstation-now>.container>.row>.col-12>button {
    background-color: #f5f5f5;
    color: #000;
}

footer {
    background-color: #00439c;
}

.ps-footer-logo {
    width: 100px;
}

.globe {
    width: 20px;
}


footer>.container>.row>.col-12>.row>.col-12>ul>a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.sie-logo {
    width: 145px;
}

@media screen and (min-width: 992px) {
    .col-12.col-md-5 {
        margin-top: 150px;
    }

    footer>.container>.row>.col-12>.row.lh-lg {
        padding-top: 45px;
    }
}