.white {
    color: #fff;
}

.upper-header {
    height: 40px;
    background-color: #000;
    color: #fff;
}

.logo-sony {
    width: 5rem;
}

.nav-link>.fa-chevron-down {
    font-size: small;
}

.jumbotron {
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-top: 110px;
}

.jumbotron>div>div>img {
    width: 300px;
}

.point {
    color: #356a69;
}

.jumbotron>.row>.col-12>h2 {
    font-size: 40px;
}

.play-station-5-presentation-section {
    margin-top: 110px;
}

.fs-40 {
    font-size: 40px;
}

.play-devices-section {
    margin-top: 80px;
}

.play-devices-section-images {
    margin-bottom: 15px;
}

.fa-trademark {
    font-size: 10px;
}

.it-takes-two-section {
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.it-takes-two-section>.container>.row>.col-6>img {
    margin-top: 50px;
    margin-bottom: 28px;
}

.new-releases-section {
    background-color: #1f1f1f;
}

.new-releases-section>.container>.row>.col-6>p>a {
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .col-12.col-md-5 {
        margin-top: 150px;
    }
}